*
{margin:0;
    padding:0
}
body{color:#FFF;
    background:#222;
    margin:0;
    padding:0;
    font-family:montserrat;
    min-height:2000px;
}

span.logo{
    font-family:Calibri;
    position:fixed;
    z-index:99999;
    margin:25px 0 0 35px;
    font-size: 200%;
    color:#fff;
}
span.logo 
    span{
    color:#300
    }
ul{
    text-align:center;
    list-style:none;
    padding:0;
    margin:0;
    height:73px;
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.25);
    top:0;
    left:0;
    z-index:1;
    font-size: 200%;
}
    ul li{
        display:inline-block;
        cursor:pointer
    }
    ul li a{
        text-decoration:none;
        font-family:montserrat;
        color:#fff;
        display:block;
        padding:27px 35px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
        font-size:14px;
        font-weight:bold
    }
    ul li a:hover{color:#FFF;
        text-shadow:0px 1px 1px #fff
    }
    #all-div{
        width:100%;
        height:100%;
        position:absolute;
        text-align:center;
        font-size:200%;
        font-weight:bold;
        font-family:montserrat;
    }
    .home{
        color:#FFF;
        text-shadow:0px 1px 2px #fff;
        font-size:16px;
        border-bottom: 2px solid #ecf0f1;
    }
    #link1 {
        background:radial-gradient(at top,rgba(45,57,136,1) 0%, rgba(19,26,24,1) 100%);
        height:100%;
        padding-top:100px
    }
    #link2{
        background: radial-gradient(at top,rgba(103,37,66,1) 0%, rgba(19,26,24,1) 100%);
        height:100%;
        padding-top:100px
    }
    #link3{
        background: radial-gradient(at top,rgba(37,103,48,1) 0%, rgba(19,26,24,1) 100%);
        height:100%;
        padding-top:100px
    }
    #link4{
        background:radial-gradient(at top,rgb(133, 87, 17) 0%, rgba(19,26,24,1) 100%);
        height:100%;
        padding-top:100px
    }
    #link5{
        background:#000;
        height:100%;
        padding-top:100px
     }  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

a {
    color: #ffffff; 
    text-decoration: none; 
   }
   a:visited {
    color: #ffffff; 
   } 
   a:hover {
    color: #ffffff; 
   }

   a.active{
    color:#FFF;
    text-shadow:0px 1px 2px #fff;
    font-size:16px;
    border-bottom: 2px solid #ecf0f1;
  }
  .section-main {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.section-main__content {
    padding: 10px;
}

.section-main_img {
    position:center;
    min-width:1080px;
    max-height:1920px;
    padding-top:50px;
}

.section-news {
    display: block;
    box-sizing: border-box;
}

.section-news__content {
    padding: 10px;
    width: 100%;
    min-width: 1080px;
    max-width: 1920px;
}

.news_stonks {
    position: relative;
    width: 100%;
    bottom:200px;
    height: auto;
    right: 12%;
}
.news_man {
    position: relative;
    width: 100%;
    bottom: 2923px;
    height: auto;
    right: 12%;
}

.right_arrow {
    position: relative;
    width: 100%;
    bottom: 1087px;
    height: auto;
    right: 10%;
}

.left_arrow {
    position: relative;
    width: 100%;
    bottom: 1995px;
    height: auto;
    right:213px;
}



.section-project__content {
    padding: 10px;
    width: 100%;
    min-width: 1080px;
    max-width: 1920px;
}

.project_development1 {
    text-align: center;
}

.project_noedtech {
    position: relative;
    width: 100%;
    bottom: 2730px;
    height: auto;
    right: 369px;
}

.noedtech_text {
	text-align: center;
}

.section-makeorder {
    display: block;
    box-sizing: border-box;
}

.section-makeorder__content {
    padding: 10px;
    width: 100%;
    min-width: 1080px;
    max-width: 1920px;
}

.makeorderheading {
    font-size: 60px;
    font-style: italic;
    margin: 0 400px;
}

.makeordertitle_1 {
    position: relative;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding: 20px;
    left:88px;
}

.makeordersubtite_1 {
    position: relative;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
    margin: 0 500px;
    right: 26%;
}

.makeordertitle_2 {
    padding: 24px;
    position: relative;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding-top: 4%;
    left: 80px;
}

.makeordersubtite_2 {
    padding: 12px;
    position: relative;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
    margin: 0 500px;
    padding-top:0%;
    right: 27%;
}

.makeofertitle_3 {
    position: relative;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding: 20px;
    bottom: 310px;
    left: 59%;
    padding-bottom: 10%;
}

.makeofersubtite_3 {
    padding: 6px;
    position: relative;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
    margin: 0 500px;
    padding-top: 0%;
    bottom: 447px;
    left: 27%;
}

.makeofertitle_4 {
    position: relative;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding: 20px;
    bottom: 414px;
    left: 59%;
    padding-bottom: 10%;
}

.makeofersubtite_4 {
    padding: 6px;
    position: relative;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
    margin: 0 500px;
    padding-top: 0%;
    bottom: 541px;
    left: 27%;
}
.section-makeorder_img_1 {
    position: relative;
    width: 100%;
    height: auto;
    bottom:1563px;
    right:7%;
}

.section-makeorder_img_2 {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 3571px;
    right:60%;
}

.section-makeorder_img_3 {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 5758px;
    right: 60%;
}

.section-makeorder_img_4 {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 7760px;
    right: 7%;
}

.makeorder_button {
    position: relative;
    bottom: 500px;
    color: #fff; 
    text-decoration: none; 
    border-radius: 22px;
    font-family: Montserrat;
    font-style: italic;
    font-size: 34px;
    user-select: none; 
    background: rgb(64,199,129);
    padding: .8em 1em calc(.8em + 3px);
    outline: none; 
	
}

.makeorder_button:hover {
    background: rgb(53, 167, 110);
}

.makeorder_button:active {
    background: #4a9663;
}

.slider {
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }

  .preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.section-contact {
    position: relative;
    width: 100%;
    min-width: 1080px;
    max-width: 1920px;
    height: auto;
    box-sizing: border-box;
    }
    
    .section-contact_content {
    padding: 10px;
    }
.map{
    position: relative;
    max-width: 1080px;
    min-width: 480px;
    top: 40%;
    left: 29%;
}


.row {
  display: flex;
  flex-direction: row;
}

.images {
  justify-content: space-around;
}

@media (max-width: 1920px) {
  .images {
	padding-top: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  img {
    max-width: 100%;
  }
}